In [64]:
import pandas as pd
from pymongo import MongoClient 
import os, json, csv

In [143]:
# Creating a client 
client = MongoClient("mongodb://localhost:27017/") 
  
# Greating a database name GFG 
database = client["Bank"] 
print("Database is created !!")

collection = database["CustomerTransactions"]
print("Collection is created")

Database is created !!
Collection is created

In [155]:
collection.CustomerTransactions

Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'Bank'), 'CustomerTransactions.CustomerTransactions')

In [153]:
# To check if the database is created or not.
list_of_database = client.list_database_names() 

if "Bank" in list_of_db: 
	print("Exists !!") 
    

# To check if the collection is created.
list_of_collection = database.list_collection_names()
if "CustomerTransaction" in list_of_collection:
    print("Exists !!")

In [37]:
os.path.join(dir_path, excel_file)

'D:\\Groceries with card.xlsx'

In [148]:
dir_path = "D:/ML/Tutorials/Git/Dockers/Groceries with card.xlsx"
csv_file = "D:/ML/Tutorials/Git/Dockers/Groceries with card.csv"

data = pd.read_excel (dir_path)
data.set_index("SNo", inplace=True)
data.to_csv(csv_file)

In [149]:
data

,Date,Place,Item,Amount,Total
SNo,,,,,
1,2020-01-01,Netto,"apple juice, roma pudding, pizza, finton doppe...",0.79+0.25+0.35+0.79+0.99,3.17
2,2020-01-08,Netto,"oil, kechup, pizza, bread, pyaaz",0.99+1.29+0.79+0.59+0.69,4.35
3,2020-01-11,Netto,"Margherita Pizza, Pepsi, Banana",0.79+0.95+0.25+0.94,2.93
4,2020-01-14,Netto,"Water, pizza, eggs, mozzarella cheese",0.19+0.25+0.79+1.43+1.40,4.06
5,2020-01-22,Netto,"Apple juice, 2 kubza",0.79+0.25+0.32,1.36
...,...,...,...,...,...
79,2020-10-12,Netto,"2 harry donuts, tomato puree, ketchup, strawbe...",1.06+0.37+0.76+0.86+0.96+0.66+0.77+1.52+1.52,8.48
80,2020-10-17,Netto,"cocacola, big bread, khubza, lemon, apple, BOT...",1.26+0.25+0.86+0.37+1.26+1.50-2.25,5.5-2.25=3.25
81,2020-10-22,Netto,"bread big, basmati rice, rice",0.86+0.97+0.66,2.49
82,2020-10-22,Netto,"pepsi, pizza margerita small, donut, pesto gen...",0.44+0.25+0.77+0.47+0.96+0.60,3.49
83,2020-10-27,Netto,"bread, eggs, rice, bodywash X3, tomato paste, ...",0.66+1.52+0.66+2.22+0.37+0.96+0.47+0.43+0.97+0...,10.74

In [157]:
header= [ "SNo", "Date", "Place","Item", "Amount", "Total"]

with open(csv_file, encoding='utf-8') as csvf:

    reader = csv.DictReader( csvf, header)

    for each in reader:
        row={}
        for field in header:
            row[field]=each[field]
            
        database.CustomerTransactions.insert_one(row)

#

In [138]:
row

{'S. No': '83',
 'Date': '2020-10-27',
 'Place': 'Netto',
 'Item': 'bread, eggs, rice, bodywash X3, tomato paste, cheese slice, curd, strawberry yogurt, gurke, condense milk, mayonaisse, tuna',
 'Amount': '0.66+1.52+0.66+2.22+0.37+0.96+0.47+0.43+0.97+0.57+0.76+1.15',
 'Total': '10.74'}